# Fichiers temporaires Python
__pycache__/
*.pyc

# Distribution
dist/
build/
*.egg-info/

# Environnements virtuels
venv/
.env/

# Fichiers spécifiques à l'IDE
.vscode/
.idea/

# Logs et fichiers temporaires
*.log
*.tmp