# Python temporary files
__pycache__/
*.pyc

# Distribution
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
.env/

# IDE specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# File generated while running tests
tests/test.txt

#File only created to test efficency during developpement
tests/test_GraphePython_Optimisation.py